/* https://color.adobe.com/es/trends/Graphic-design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --primary-color:#14140F;
  --secundary-color:#BF7F5A; 
  --third-color:#261C1E;
  --fourth-color:#F22E3E;
  --fifth-color:#8C583A;
  --sixth-color:#A61723;
  --text-color:balck;
}
body {
  background:white;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display:block;
  align-items:center;
  justify-content:center;
  gap:.5rem;
}
.header{
  display:flex;
  justify-content:space-between;
  align-content: center;
  background-color:var(--primary-color);
  color:white;
}
.avatar{
  width:15rem;
  height:15rem;
  border: white solid 4px;
  border-radius: 100%;
}
.header2{
  display:block;
  justify-content:space-between;
  align-content: center;
  /* padding:0 1rem; */
}
.header21{
  display:flex;
  justify-content:space-between;
  align-content: center;
  padding:0 1rem;
}
.header22{
  padding:0 1rem;
}
.name{
  font-family: 'Lavishly Yours', cursive;
  font-weight: 200;
  font-size: 6rem;
}
.title1{
  position:relative;
  margin-left:-10rem;
  margin-top:3rem;
  width:10rem;
  height:2rem;
  background-color:var(--sixth-color);
  color:white;
  font-style: bold;
  font-weight: 700;
  font-size:1rem;
  display:flex;
  align-content: center;
  /* justify-content:center; */
  padding:0.3rem;
}
.title2{
  position:relative;
  margin-left:-20rem;
  margin-top:7.3rem;
  width:15rem;
  height:2rem;
  background-color:var(--sixth-color);
  color:white;
  font-style: bold;
  font-weight: 700;
  font-size:1rem;
  display:flex;
  align-content: center;
  /* justify-content:center; */
  padding:0.3rem;
}
.title3{
  opacity:0.8;
  font-weight: 200;
  font-size:1.5rem;
}
.title4{
  color:white;
  margin-top:2rem;
}
.container{
  margin-top:-4rem;
  background-color:white;
  font-style: bold;
  font-weight: 400;
  font-size: 14px;
  display:block;
  justify-content:center;
  align-content: center;
  padding:1.5rem;
}
.title1{
  position:absolute;
  z-index:3;
}
.container1{
  background-color:var(--sixth-color);
  color:white;
  display:block;
  justify-content:center;
  align-content: center;
  padding:2rem;
}
.image1{
  width:100px;
}
.image2{
  width:130px;
}
.container2{
  display:block;
  justify-content:center;
  align-content: center;
  padding:2rem;
}
.container3{
  display:block;
  justify-content:center;
  align-content: center;
  padding:2rem;
}
.container4{
  display:block;
  justify-content:center;
  align-content: center;
  padding:2rem;
}
.container5 strong{
  display:flex;
  justify-content:center;
  align-content: center;
  /* padding:2rem; */
}
.container5 a{
  display:flex;
  justify-content:center;
  align-content: center;
  /* padding:2rem; */
}
.title{
  display:block;
  text-align: left;
  font-style: bold;
  font-weight: 400;
  font-size:2rem;
  color:var(--sixth-color);
  padding-bottom:1rem;
}
.subtitle{
  display:block;
  text-align: left;
  font-weight: 100;
  font-size: 2rem;
  padding-top:1rem;
}
#image{
  display: block;
  justify-content:between;
  align-content: center;
}

#image img{
  width:12rem;
}

#image2{
  display: block;
  justify-content:between;
  align-content: center;
}

#image2 img{
  width:15rem;
}
#image6 img{
  width:30rem;
}
.image1{
  padding:1rem;
  background-color:var(--third-color);
  border-radius: 0.7rem; */
}

.box1{
  width:12rem;
  color:white; 
}
.image2{
  padding:1rem;
  background-color:var(--fourth-color);
  border-radius: 0.7rem; */
}

.box2{
  width:12rem;
  color:white; 
}
.box5{
  font-size: 14pt;
}
.local{
  padding:2rem;
  color:var(--sixth-color);
}
.title4{
  color:var(--sixth-color);
}
.socialmedia{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr */
  padding:0 1rem;
}
.local1{
  opacity:0.8;
  cursor: pointer;
  text-decoration:none;
}
.local:hover {
  opacity:1;
  cursor: pointer;
}
a{
  text-decoration: none;
  opacity:.9;
  color:var(--primary-color);
}
a:hover{
  opacity:1;
}
footer{
  background-color:var(--fourth-color);
  display:flex;
  justify-content:space-evenly;
  align-content: center;
  padding:1rem;
  color:white;
}
.webdesigner{
  opacity:0.7;
  font-style: bold;
  font-weight:400;
  font-size:1rem;
  text-decoration:none;
}
.webdesigner:hover{
  opacity:1;
  cursor: pointer;
}
/* Responsive */
@media only screen and (min-width: 768px) {
  #image {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 1fr 1fr 1fr */
    padding:0 1rem;
  }
  #image2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr 1fr 1fr */
    padding:0 1rem;
  }
}
@media(max-width:768px){
  .header{
    display:block;
    justify-content:space-between;
    align-content: center;
  }
  .title1{
    position:relative;
    margin-left:-1rem;
    margin-top:3rem;
  }
  .container{
    margin-top:0rem;
    padding:0.1rem;
  }
  .title2{
    position:relative;
    margin-left:-7rem;
    margin-top:10rem;
  }
  #image img{
    width:20rem;
  }
  
}
@media(max-width:480px){
  .socialmedia{
    display: block;
    padding:0 1rem;
  }
  .container{
    margin-top:3rem;
    padding:0.1rem;
  }
  .name{
    font-size:6rem;
  }
  .title1{
    position:relative;
    margin-left:0rem;
    margin-top:-2rem;
  }
  .title2{
    position:relative;
    margin-left:-7rem;
    margin-top:10rem;
  }
  #image img{
    width:15rem;
  }
}
@media(max-width:320px){
  .socialmedia{
    display: block;
    padding:0;
  }
  .name{
    font-size:3rem;
    position:relative;
    margin-left:-12rem;
  }
  .title1{
    position:relative;
    margin-left:-1rem;
    margin-top:-2rem;
  }
  .title2{
    position:relative;
    margin-left:-8rem;
    margin-top:4rem;
  }
  #image img{
    width:11rem;
  }
}

